/* ==================== Global Styles ==================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 8;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #c3c6c6;
    --secondary-color: #ffffff;
    --black-color: #000;
}

/* ==================== Reusable Styles ==================== */
a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
}

/* ==================== Grid Styles ==================== */
.custom-grid {
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

[theme~="column-border"] [part~="cell"] {
    border-right: 1.5px solid gray;
}

[theme~="row-border"] [part~="cell"] {
    border-bottom: 1.5px solid gray;
}

/* ==================== Button Styles ==================== */
.custom-button {
    background-color: rgb(50, 100, 200);
    border: 1px solid rgba(0, 0, 0, 0.75);
    left: 85%;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: rgb(30, 70, 170);
}

/* ==================== Chart Styles ==================== */
.title-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 7px;
}

.custom-chart {
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: bold;
    width: 400px;
    height: 400px;
}

/* ==================== Login Page ==================== */
.login-bg {
    background-image: url('../resources/images/logPgBg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
}

.login-box {
    position: relative;
    width: 450px;
    height: 500px;
    backdrop-filter: blur(25px);
    padding: 7.5em 2.5em 4em 2.5em;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    color: var(--secondary-color);
}

.login-header {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.login-header span {
    font-size: 30px;
    color: var(--black-color);
}

.login-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background-color: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}

.login-header::after {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background-color: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px 0;
}

.input-field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--secondary-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

vaadin-input-container::after {
    background: transparent;
    background-color: var(--primary-color);
}

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: 0.2s;
    background: transparent;
}

.input-field:focus + .label,
.input-field:valid + .label {
    position: absolute;
    top: -10px;
    left: 20px;
    background: transparent;
    background-color: var(--primary-color);
    font-size: 14px;
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: var(--primary-color)
}

.input-submit {
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.input-submit:hover {
    background: var(--secondary-color);
}

.register {
    font-weight: 500;
}

@media only screen and (max-width: 564px) {
    .wrapper {
        padding: 20px;
    }
    .login-box {
        padding: 7.5em 1.5em 4em 1.5em;
    }
}